body{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width:  100%;
    font: 30px "Century Gothic", Futura, sans-serif;
}
.game {
    text-align: center;
  }

.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.status {
    margin: 20px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    border-color: #000000;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;  
  }
  